extends ../layout/head.pug 
block content
    main.page.page-article
        section.container
            .article
                .article__content
                    h1.article__title.article__title--mark Где работает доставка?
                    p.article__text Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте. 
                        <br>Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
                        <br>Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
                        <br>Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
                footer.article__callback
                    p.article__callback__label Проблема не решилась? Свяжитесь с нами, мы поможем
                    .article__actions
                        a.btn.btn--main(href="#") 
                            +svg("chat-icon", 16)(class="icon-fill")
                            span Онлайн-чат
                        a.btn.btn--icon(href="#") 
                            +svg("phone2-icon", 16)(class="icon-fill")
                        a.btn.btn--icon(href="#") 
                            +svg("mail-icon", 16, 12)(class="icon-fill")
